<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="VMS" connectionString="Data Source=.; Initial Catalog=HRP_VMS; User ID=sa; Password=maianh;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ImportDuLieuCanBo_VMS.Properties.Settings.HRP_VMSConnectionString"
      connectionString="Data Source=.;Initial Catalog=HRP_VMS;Persist Security Info=True;User ID=sa;Password=maianh"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IIS_Upload_Folder" value="F:\File\"/>
  </appSettings>
</configuration>